<li id="Group<%= group.id %>" class="collection-item"><%= link_to group.title, group_path(group) %>
  <a href="<%= edit_group_path(group) %>" class="right"><i class="material-icons">mode_edit</i></a></li>