<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="text_h center header cd-headline letters type">
      Welcome to Manegment
      <p>
      <%= link_to "Log in", new_session_path(User), class: "waves-effect waves-light btn-large hoverable" %>
      <%= link_to "Sign up", new_registration_path(User), class: "waves-effect waves-light btn-large hoverable" %>
      </p>
    </h1>
  </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
  <div class="container">
    <div class="row">
      <div  class="col s12">
        <h2 class="center header text_h2"> A site for managing your daily <span class="span_h2"> tasks  </span> and <span class="span_h2"> projects.</span> </h2><br /><br /><br />
      </div>

      <div  class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="material-icons">flash_on</i>
          <h5 class="promo-caption">Speeds up development</h5>
          <p class="light center">Keep track of project progress and task completion. Never loose track of your important projects again!</p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="material-icons">group</i>
          <h5 class="promo-caption">User Experience Focused</h5>
          <p class="light center">Easy to navigate and user. Simple user interface to make keeping track of things breeze</p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="material-icons">desktop_windows</i>
          <h5 class="promo-caption">Fully responsive</h5>
          <p class="light center">Fully mobile responsive site so you can use it on the go</p>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  nav{
    display: none;
  }
</style>